* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 120, 228);
}
.unord {
  display: flex;
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin-right: 150px;
}
.list {
  color: white;
  margin: 0 65px;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  transition: all 0.3s ease-in-out;
}
.list:hover {
  color: rgb(226, 225, 225);
  cursor: pointer;
}
.logo {
  filter: drop-shadow(2px 4px 8px lightblue);
  cursor: pointer;
  margin-left: 85px;
  /* flex: 1; */
}
h1 {
  display: flex;
  flex: 1;
}
.slide {
  filter: invert(2);
  height: 30px;
  margin-left: 12px;
  cursor: pointer;
}
.sliderbdy {
  position: absolute;
  overflow: hidden;
  /* background-color: rgb(86, 183, 248); */
  background-color: rgb(70, 120, 228);
  height: 88.5%;
  width: 80px;
  display: none;
  /* border-radius: 8px; */
  transition: all 1s ease-in-out;
}
@keyframes anand {
  from {
    left: 0px;
  }
  to {
    left: 8 0px;
  }
}
.iconss img {
  height: 70px;
  /* margin: px 0; */
  /* filter: invert(2); */
  padding: 12px;
}
.iconss {
  height: 70px;
  /* width: 70px; */
  margin: 45px 0;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.allicn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  /* border: 2px solid orange; */
  /* align-content: center; */
}
body {
  background-color: rgb(94, 202, 251);
 
}
